#LoadScreenContent {
    margin: 50% auto 0 auto;
    width: 50%;
    vertical-align: middle;
    text-align: center;
}


table.flightSearchResultElement {
    width:100%;
}

.flightSearchResultElement td {
    text-align: center;
}
.flightSearchResultElement td:first-child {
    text-align: left;
    width: 24%;
}

.flightSearchResultElement td:last-child {
    text-align:  right;
    width: 16%;
}

.ui-controlgroup-controls {
    width: 100%;
}
.ui-controlgroup-controls .ui-radio {
    width: 50%;
}