table.flightSearchResultElement {
    width:100%;
}

.flightSearchResultElement td {
    text-align: center;
    width: 33%;
}
.flightSearchResultElement td:first-child {
    text-align: left;
}

.flightSearchResultElement td:last-child {
    text-align:  right;
}